/* CSS  RESET START */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    main: '';
    main: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS RESET END */

body {
    font-size: 16px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/oriental.png);
}

.container {
    width: 960px;
    margin: 100px auto 0px auto;
    padding-top: 6px;
    background-color: #f6f6f6;
    border: 1px solid #e3e1e1;
    border-radius: 14px;
    position: relative;
}

.header {
    padding: 20px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: black;
    border-bottom: 1px solid #333;
    z-index: 999;
}

.logo-idn {
    width: 70px;
    height: 70px;
    background-image: url(img/idn-removebg-preview\ 3.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: fixed;
    right: 0;
    margin-right: 10px;
}

.logo-hsi {
    width: 63px;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 6px;
    background-image: url(img/hsiabdullahroy.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.judul {
    font-size: 60px;
    font-family: 'Qwitcher Grypen', cursive;
    text-align: center;
    line-height: 80px;
    color: #f6f6f6;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
}

.main p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 16px;
}

.header ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}

.header li {
    float: left;
    margin-right: 14px;
}

.header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

.hero {
    height: 320px;
    background-color: rgb(3, 5, 4);
    background-image: url(https://images.unsplash.com/photo-1551095581-bb9e2670f5a2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1031&q=80);
    background-size: cover;
    background-repeat: none;
    background-position: 0 -160px;
    border-radius: 8px;
    margin: 0px 6px;
}

.main h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 35px;
}

.font {
    font-size: 30px;
    font-weight: bold;
}

.penulis a {
    text-decoration: none;
    padding: 3px;
}

.main {
    width: 650px;
    padding: 20px;
    box-sizing: border-box; 
    float: left;
    border-right: 1px solid #e3e1e1;
}

.content {
    overflow: auto;
}

.main .penulis {
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 20px;
}

.main .penulis a:hover {
    background-color: #333;
    color: blueviolet;
    border-radius: 6px;
}

.arab {
    font-weight: bold;
    text-align: center !important;
    font-size: 16px;
    font-family: 'Amiri', serif;;
    line-height: 50px;  
    font-size: 18px !important;
}

.terjemah {
    text-align: center;
    font: 14px;
}

.penutup {
    text-align: center !important
    ;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    background-color:#333;
    padding: 10px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 14px;
}

.sidebar {
    width: 250px;
    border-left: 1px solid #e3e1e1;
    float: right;
    padding: 14px;
    overflow: auto;
    background-color: #f3f1f1;
    height: 5060px;
}

.sidebar h3 {
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 20px;
}

.sidebar img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

.sidebar p {
    font-size: 14px;
    line-height: 25px;
}

.nama {
    font-size: 14px;
    font-weight:bolder ;
}

.sidebar ul {
    margin-left: 40px;
    margin-bottom: 20px;
}

.sidebar ul li {
    font-size: 14px;
    line-height: 25px;
    list-style: circle;
}

.sidebar h5 {
    text-align: center;
    font-weight: 500;
    margin: 14px 0px;
}

.sidebar .profile {
    text-align: justify;
    margin-bottom: 20px;
}

.sosmed {
    overflow: auto;
    width: 200px;
    margin: auto;
}

.sosmed p {
    text-align: left;
    margin-left: 30px;
}

i {
    margin-bottom: 10px;
    text-align: center;
    float: left;
}

.instagram {
    width: 200px;
    height: 200px;
    background-image: url(img/logo\ angkatan.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: -13px;
    right: -14px;
}